<header>
  <nav class="navbar navbar-expand-md navbar-light " style ="background-color: cadetblue; margin-bottom:50px;">

    <a class="navbar-brand" style = "color:rgb(26, 26, 26)" href="/urls">TinyApp.</a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"  ></span>
    </button>
  <div class="collapse navbar-collapse ms-auto " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a  class = "nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        
     </div>
<div class="container d-flex justify-content-end">
     <% if(user){ %>
      <form class="form-inline" placeholder="email" method="POST" action="/logout" >
        <p class="text-info margin: 1em"> Logged in as: <%= user.email %></p>
        <button type="submit" class="btn btn-outline-danger my-2 my-sm-0 ">Logout</button>
      </form>
    <% } else{ %>  
    
     
     <a style = "color:lightgoldenrodyellow"class="nav-item nav-link" href="/login">LOGIN</a>
     <a style = "color:lightgoldenrodyellow"class="nav-item nav-link" href="/register">REGISTER</a>

   <% } %>
  </div>
   
    </div>
   
  
  </nav>
</header>